@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
}

.container {
    padding: 20px;
    background: #FFF;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    width: 800px;
    min-height: 400px;
    margin: 20px 0;
}
.container .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.container .row  {
    
    display: grid;
   
grid-template-columns: repeat(3, 329px);
    grid-gap: 100px;
    max-width: 364px;
max-height: 100px;
       justify-content: center;
    align-items: center;
    

}

.container .form .row .form-group {
    padding: 30 10px;
    display: block;
    
}

.container .form .row .form-group:first-child {
    padding-left: 1;
}

.container .form .row .form-group:last-child {
    padding-right: 0;
}

.container .form .form-group {
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
}

.container .form-group label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}

.container .form-group textarea, .container .form  .form-group textarea {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 5px 10px;
}

.container .form .form-group.textarea {
    height: 200px;
}

.container .form .form-group.textarea textarea {
    resize: none;
}

.container .prev-comments {
    margin-top: 50px;
}

.container .prev-comments .single-item {
    background: #FFF;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    padding: 10px 20px;
    text-align: left;
    margin-bottom: 25px;
}

.container .prev-comments .single-item h4 {
    font-size: 1.3rem;
    font-weight: 800;
    color: #111;
}

.container .prev-comments .single-item a {
    margin: 10px 0;
    font-size: 1rem;
    color: #111;
    text-decoration: none;
    display: inline-block;
}

.container .prev-comments .single-item p {
    font-size: .9rem;
    color: #111;
}